.scroll-to-top {
  position: fixed;
  bottom: 12px;
  left: 85%;
  bottom: 10%;
  width: 40px;
  height: 40px;
  border: 2px solid white;
  border-radius: 100%;
  background: #d31b7a;
  color: white;
  z-index: 1;
  cursor: pointer;
}

.scroll-to-top .icon {
  margin-top: 10px;
  animation: scrollTop 0.5s alternate ease infinite;
}

@keyframes scrollTop {
  from {
    transform: translateY(2px);
  }
  to {
    transform: translateY(-1px);
  }
}
